div {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

#firstElement {
  background: green;
}

* {
  box-sizing: border-box;
  border-radius: 30px;
}

.baseBox {
  width: 200px;
  height: 100px;
  background: red !important;
}

.purpuleBox {
  background: purple !important;
}

.container {
  width: 400px;
  height: 1000px;
  margin-top: 20px;
  overflow: hidden;
}
.container.radius {
  border-radius: 100px;
}
.container > .black {
  background: green;
}

.radius {
  border-radius: 20px;
}

.black {
  background: black;
  width: 100%;
  height: 100%;
}

button {
  border: 0;
  background: #ff0000;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  background: #8f0000;
}

li:first-child {
  color: red;
}

.required {
  /* position: relative; */
  width: max-content;
}
.required::after {
  /* content: ""; */
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

h3 > span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  display: block;

  position: absolute;
  top: 0;
  right: 0;
}

.modal {
  position: fixed;
  top: 50px;
  left: 50px;

  padding: 16px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}
